$black : #000000;
$lightBlack : #1c1c1c;
$white: #ffffff;

$primary : #6f2cff;
$purple : #A445BB;
$darkPurple : #17002E;
$footerPurple : #20003C;
$borderGrey : #E0E0E0;
$bg : #F5F5F5;


$tablet : 1044px;
$mobileL : 768px;
$mobileM : 520px;
$mobileS : 420px;

$br : 30px;

@font-face {
  font-family: regular;
  src: url(../fonts/Regular.ttf);
}

@font-face {
  font-family: bold;
  src: url(../fonts/Bold.ttf)
}

body {
  font-family: "regular", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
}

nav {
  .nav {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__mobile_btn {
      display: none;
    }

    .nav__menu {
      display: flex;
      gap: 42px;

      li {
        list-style-type: none;

        a {
          color: $lightBlack;
          text-decoration: none;
          font-size: 14px;
          transition: .5s;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    .nav__btns {
      display: flex;
      gap: unset;
      align-items: center;

      svg {
        display: none;
        width: 35px;
        height: 35px;
      }

      .book-a-demo {
        padding: 9px 35px;
        color: $white;
        background-color: $primary;
        border-radius: 20px;
        border: 1px solid $primary;
        cursor: pointer;
        font-size: 14px;
      }

      #login {
        text-decoration: none;
        color: $lightBlack;
        font-size: 14px;
        display: inline-block;
        padding: 9px 15px;
        transition: .5s;

        &:hover {
          color: $primary;
        }
      }
    }

    @media screen and (max-width:1085px) {
      .nav__menu {
        gap: 16px;
      }
    }

    @media screen and (max-width: $tablet) {
      .logo {
        svg {

          width: 70px;
          height: 22px;
        }
      }

      .nav__btns {
        gap: 5px;

        #book-a-demo {
          font-size: 13px;
          padding: 6px 20px;
        }

        #login {
          font-size: 13px;
          padding: 5px 2px;
        }
      }

      .nav__menu {
        gap: 8px;

        li {
          a {
            font-size: 13px;
          }
        }
      }
    }

    @media screen and (max-width:830px) {
      .nav__menu {
        display: none;
      }

      .nav__mobile_btn {
        display: block;
      }
    }

    @media screen and (max-width: $mobileS) {
      .nav__btns {

        svg {
          display: block;
        }

        .book-a-demo,
        #login {
          display: none;

        }
      }
    }
  }
}

header {
  .header {
    width: 100%;
    height: 755px;
    background: url(/img/header-background.png) 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .header__text {
      max-width: 470px;
      margin-left: 115px;

      span {
        display: block;
        font-size: 15px;
        padding-bottom: 19px;
      }

      h2 {
        max-width: 470px;
        font-family: bold;
        font-size: min(54px, max(27px + 2vw));
        line-height: 61px;
        margin: 0;

        &:last-of-type {
          color: $primary;
        }
      }

      .email {
        display: flex;

        input {
          max-width: 268px;
          height: 45px;
          background: $white;
          border: 1px solid $primary;
          border-radius: 27.5px 0px 0px 27.5px;
          padding: 13px 127px 11px 26px;
        }

        button {
          max-width: 187px;
          height: 45px;
          background: $primary;
          border-radius: 0px 27.5px 27.5px 0px;
          padding: 13px 45px;
          font-size: 15px;
          color: $white;
          border: 1px solid $primary;
        }
      }

      p {
        max-width: 438px;
        font-family: regular;
        font-size: 18px;
        line-height: 30px;
        margin-top: 37px;
        margin-bottom: 4px;
      }
    }

    @media screen and (max-width: $mobileL) {
      .header__text {
        margin: auto;
      }
    }

    @media screen and (max-width: $mobileM) {
      .header__text {
        text-align: center;

        .email {
          display: flex;
          justify-content: center;
          margin-top: 32px;

          input {
            max-width: 230px;
            padding: 13px 50px 11px 26px;
          }

          button {
            max-width: 130px;
            padding: 13px;
          }
        }
      }
    }

    @media screen and (max-width: 430px) {
      .header__text {
        max-width: 400px;
        margin: auto;
        text-align: center;

        span {
          display: block;
          font-size: 14px;
          padding-bottom: 15px;
        }

        h2 {
          max-width: 380px;
          font-size: 40px;
          line-height: 51px;

          &:last-of-type {
            color: $primary;
          }
        }

        p {
          max-width: 350px;
          font-size: 17px;
          line-height: 30px;
          margin-top: 17px;
          margin-bottom: 10px;
        }

        .email {
          display: flex;
          justify-content: center;

          input {
            max-width: 160px;
            padding: 8px 8px;
          }

          button {
            max-width: 120px;
            padding: 4px 4px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

main {
  .partner__brands {
    max-width: 1072px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h4 {
      font-weight: 700;
      font-size: 18px;
      margin: 35px 0 30px 0;
      line-height: 30px;
      color: $lightBlack;
      text-align: center;
    }

    .brand__logos {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 32px;
      margin-bottom: 24px;
    }

    a {
      display: block;
      border-bottom: 2px solid $primary;
      text-decoration: none;
      padding: 5px;
      color: $lightBlack;
      margin-bottom: 20px;
    }


    @media screen and (max-width:$tablet) {
      .brand__logos {
        flex-wrap: wrap;
        gap: 16px;
      }
    }
  }

  .advantages {
    max-width: 1170px;
    margin: 80px auto;
    display: flex;
    align-items: center;

    .advantages__left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 57px;

      h2 {
        max-width: 401px;
        font-size: 40px;
        line-height: 45px;
        color: $lightBlack;
        margin-bottom: 0;
        font-weight: 700;
      }

      .advantages__left_buttons {
        .book-a-demo {
          padding: 9px 35px;
          color: $white;
          background-color: $primary;
          border-radius: 20px;
          border: 1px solid $primary;
          cursor: pointer;
          font-size: 14px;
          margin-right: 22px;
        }

        a {
          border-bottom: 2px solid $primary;
          text-decoration: none;
          padding: 5px;
          color: $lightBlack;
        }
      }

      div {
        span {
          display: block;
          color: $black;
          font-size: 15px;
          line-height: 30px;
          font-weight: 400;
          margin-bottom: 7px;
        }

        a {
          color: $black;
          border-bottom: 1px solid $black;
          padding: 0px 2px;
          font-size: 15px;
          line-height: 15px;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }

    .advantages__right {
      width: 50%;
      display: flex;

      .side {
        border-left: 1px solid $borderGrey;
        width: 309px;
        padding-left: 16.5px;
        display: flex;
        flex-direction: column;

        div {
          height: 220px;

          h3 {
            font-weight: 700;
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 15px;
            color: $black;
          }

          span {
            display: block;
            color: $black;
            font-size: 15px;
            line-height: 22px;
            font-weight: 400;
            max-width: 190px;
          }
        }
      }
    }

    @media screen and (max-width:$mobileL) {
      flex-direction: column;
      margin: 60px 0px 20px 0px;
      padding: 0px 16px 0px 16px;
      gap: 64px;

      .advantages__left {
        width: 95%;
        gap: 32px;
        text-align: center;

        h2 {
          margin: auto;
        }
      }

      .advantages__right {
        width: 95%;
        justify-content: space-around;

        .side {
          width: 50%;

          div {
            height: 150px;
          }
        }
      }
    }

    @media screen and (max-width:$mobileS) {
      .advantages__left {
        h2 {
          font-size: 32px;
        }

        .advantages__left_buttons {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: center;
          gap: 16px;

          .book-a-demo {
            width: 95%;
            font-size: 14px;
            margin-right: 0px;
          }

        }
      }

      .advantages__right {
        .side {
          div {
            h3 {
              font-size: 32px;
              margin-bottom: 4px;
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }

  }

  .commerceAI {
    text-align: center;
    padding-bottom: 91px;

    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 45px;
      color: $black;
      margin-bottom: 22px;
    }

    span {
      color: $black;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
    }

    .wrapper {
      max-width: 1170px;
      margin: auto;
      display: flex;
      align-content: center;
      gap: 77px;
      padding-top: 58px;

      div {
        max-width: 320px;
      }
    }

    @media screen and (max-width:$mobileL) {
      padding-top: 32px;

      .wrapper {
        gap: 64px;
      }
    }

    @media screen and (max-width:$mobileM) {
      .wrapper {
        gap: 32px;
      }
    }

    @media screen and (max-width:490px) {
      .wrapper {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .easy-to-use {
    background: $bg;
    text-align: center;
    padding: 94px 32px 115px 32px;

    h3 {
      font-size: min(40px, max(20px + 2vw));
      line-height: 45px;
      font-weight: 700;
      margin: 0px;
    }

    p {
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      margin: 28px 0px 90px 0px;
    }

    .easy-to-use__cover {
      img {
        width: 100%;
      }
    }

    .easy-to-use__btns {
      margin-top: 76px;
      display: flex;
      justify-content: center;
      gap: 22px;

      a {
        display: block;
        text-decoration: none;
        padding: 11px 54px 12px 54px;
        border-radius: $br;
        font-size: 14px;
        line-height: 15px;
        font-weight: 400;

        &:first-of-type {
          background: $primary;
          color: $white
        }

        &:last-of-type {
          background: $white;
          color: $primary;
        }
      }
    }

    @media screen and (max-width:$tablet) {
      padding: 64px 32px;

      p {
        margin: 16px 0px 32px 0px;
      }

      .easy-to-use__btns {
        margin-top: 32px;
      }
    }

    @media screen and (max-width:$mobileM) {
      .easy-to-use__btns {
        flex-wrap: wrap;

        a {
          width: 100%;
        }
      }
    }
  }

  .things-to-do {
    padding: 94px 32px 220px;
    text-align: center;

    h3 {
      font-size: min(40px, max(20px + 2vw));
      line-height: 45px;
      font-weight: 400;
      margin: 0;
    }

    .to-do__list {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 96px;
      flex-wrap: wrap;
      margin-top: 58px;

      .to-do__item {
        max-width: 276px;

        h4 {
          font-size: 19px;
          line-height: 45px;
          font-weight: 700;
          margin: 4px 0px 11px;
        }

        p {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }

    @media screen and (max-width:$mobileL) {
      padding: 64px 32px 96px;
      flex-wrap: nowrap;

      .to-do__list {
        gap: 32px;

        .to-do__item {
          h4 {
            line-height: 20px;
          }
        }
      }
    }

    //   @media screen and (max-width:)
  }

  .brands__slider {
    padding: 88px 32px 105px;
    background: $bg;
    text-align: center;

    h3 {
      font-size: min(40px, max(20px + 2vw));
      line-height: 45px;
      font-weight: 700;
      margin: 0 0px 73px;
    }

    .slider__section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      .slider__items {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        .slider__item {
          box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
          border-radius: 0px 0px 7px 7px;
          background: $white;

          .slider__item__cover {
            max-width: 320px;
            max-height: 205px;
            overflow: hidden;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .slider__item__content {
            max-width: 320px;
            background: $white;

            .slider__item__title {
              padding-top: 25px;
              width: 100%;
            }

            p {
              font-size: 18px;
              line-height: 22px;
              font-weight: 700;
              color: $primary;
              padding: 16px 32px 64px;
              margin: 0;
            }

            @media screen and (max-width:$tablet) {
              .slider__item__title {
                padding-top: 16px;
              }
              p {
                font-size: 17px;
                padding: 16px 16px 32px;
              }
            }

            @media screen and (max-width:$mobileL) {
              p {
                font-size: 16px;
                line-height: 18px;
                padding: 16px 8px 32px;
              }
            }
          }

          @media screen and (max-width:$mobileL) {
            &:last-child {
              display: none;
            }
          }

          @media screen and (max-width:$mobileM) {
            &:nth-last-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
}













//normalize css

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}



/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}